<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 33%">
                <span class="pull-left">
                    <span data-at-sorter
                          data-value-getter="item['name']"
                          data-apply-sort-fn="ctrl.applySortFn(comparator)"></span>
                </span>
                <span class="pull-right">
                    <span data-at-filter
                          data-items="items"
                          data-value-getter="item['name']"
                          data-apply-filter-fn="ctrl.applyFilterFn('name', filter)"></span>
                </span>

                <span style="margin: 0 5px">
                    Name
                </span>
            </th>
            <th style="width: 33%">
                <span class="pull-left">
                    <span data-at-sorter
                          data-value-getter="item.date"
                          data-apply-sort-fn="ctrl.applySortFn(comparator)"></span>
                </span>
                <span class="pull-right">
                    <span data-at-filter
                          data-items="items"
                          data-value-getter="item['date'] | date : 'yyyy'"
                          data-apply-filter-fn="ctrl.applyFilterFn('date', filter)"></span>
                </span>

                <span style="margin: 0 5px">
                    Date
                </span>
            </th>
            <th style="width: 33%">
                <span class="pull-left">
                    <span data-at-sorter
                          data-value-getter="item.count"
                          data-apply-sort-fn="ctrl.applySortFn(comparator)"></span>
                </span>
                <span class="pull-right">
                    <span data-at-filter
                          data-items="items"
                          data-value-getter="item['count'] < 500 ? '< 500' : '>= 500'"
                          data-apply-filter-fn="ctrl.applyFilterFn('count', filter)"></span>
                </span>

                <span style="margin: 0 5px">
                    Count
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td>{{ row.name }}</td>
            <td>{{ row.date | date }}</td>
            <td>{{ row.count | number }}</td>
        </tr>
        </tbody>
    </table>
</div>